*{
  margin: 10px;
  color: white;
  background-color: black;
  text-align: center;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#myvideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */

.navbar-links {
  text-decoration: none;
  color: orange;
}

.navbar-container {
  font-size: 14px;
  display: flex; 
  justify-content: space-between;
  margin-right: 20px;
}

.navbar-welcome {
  text-decoration: underline;
}

.navbar-loggedin-buttons {
  display: flex;
  cursor: pointer;
}

.navbar-loggedout-buttons {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.navbar-buttons {
  font-size: 15px;
  height: 30px;
  width: 125px;
  margin-right: 20px;
  cursor: pointer;
  color: orange;
}

/* GAMELIST */

.searchbar {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

.search {
  font-size: 15px;
}


.follow-buttons {
  font-size: 15px;
  height: 30px;
  width: 125px;
}

/* .follows-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} */

.gamelist-info-container {
  display: flex;
  margin: 10px;
  border-style: solid;
  border-color: white;
}

.gamelist-img {
  margin: 10px;
  min-height: 325px;
  min-width: 325px;
}

.gamelist-titles{
  cursor: pointer;
  color: aqua;
  text-decoration-color: orange;
}

.gamelist-summary{
  color: lavender
}

.follows{
  color: yellow
}

/* GAMEINFO AND REVIEWS*/

.gameinstance-titles{
  color: aqua;
  text-decoration: underline;
  text-decoration-color: orange
}

.game-summary{
  font-size: 20px;
  line-height: 35px;
}

.videos{
  cursor: pointer;
  width: 75px;
}

.videos-container{
  border: 2px solid gray;
  box-shadow: 5px 10px gray;
}

.reviews{
  font-size: 28px;
  text-align: left;
}

.reviews-user:hover{
  color: lightblue;
  text-decoration-color: lightblue;
  cursor: pointer;
}

.reviews-button{
  font-size: 20px;
  cursor: pointer;
}

.reviews-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border: 5px solid aqua;
  border-radius: 20px;
}

.reviews-img{
  margin: 0px;
}

.reviews-info {
  margin-top: 0px;
  text-align: left;
}

.reviews-vote{
  display: flex;
  align-items: baseline;
  font-size: 25px;
}

.reviews-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-rating-container{
  display: flex;
  margin: 0px;
}

.review-content-container{
  display: flex;
  margin: 0px;
}

.review-rating-box{
  text-align: left;
  font-size: 18px;
}

.review-content-box{
  text-align: left;
  font-size: 18px;
  margin: 0px;
  width: 600px;
  height: 100px;
}

.review-content-submit{
  cursor: pointer;
  font-size: 18px;
  margin: 0px;
}

/* PROFILE */

.profile-edit-main-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-edit-container{
  display: flex;
  flex-direction: column;

  border: 4px solid powderblue;
  margin: 0px;
}

/* .profile-fields-container{

}  */

.profile-fields{
  font-size: 14px;
  background-color: slateblue
}

.profile-form-options-container{
  display: flex;
  justify-content: center;
}

.profile-form-options{
  font-size: 20px;
}

.profile-image-info{
  display: flex;

}

.profile-image{
  width: 300px;
  height: 300px;
  border: 5px solid skyblue
}

.profile-info{
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

.profile-main-info{
  margin-left: 5px;
}

.profile-username {
  text-decoration: underline wavy skyblue;
  text-align: left;
  font-family: Snell Roundhand, cursive;
  font-size: 40px;
}

.profile-follows {
  font-size: 24px;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
}

.profile-buttons-container{
  padding: 10px;
}

.profile-buttons{
  padding: 5px;
  margin: 10px;
  /* background-color: darkgreen */
  cursor: pointer;
  color: darkorange;
}

.profile-titles {
  font-size: 16px;
  cursor: pointer;
  color: aqua;
  text-decoration-color: orange;
 
}

/* SIGN IN */
.signin-main-container{
  display: flex;
  justify-content: center;
}

.signin-container{
  display: flex;
  justify-content: center;
  border: 3px solid white;
  padding: 25px;
  width: 25%;
  box-shadow: 7px 15px white;
}

.signin-form{
  border: 3px solid lightgoldenrodyellow;
  font-size: 15px;
  box-shadow: 7px 15px lightgoldenrodyellow
}

.signin-buttons{
  font-size: 20px
}

.signin-form-fields{
  font-size: 14px;
  background-color: slateblue
}